<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Widget Demo</title>
        <script src="https://unpkg.com/lodash@4.17.20"></script>
        <style>
            *{font-family: Arial, Helvetica, sans-serif;}
            html{
                max-width: 1280px;
                margin: auto;
                padding: 12px;
            }
            .demo-div{
                padding: 12px;
                background: #fff;
                border-radius: 6px;
                margin-bottom: 12px;
                box-shadow: 0px 0px 12px #ddd;
            }
            #imageTiler{
                width: 1000px;
                margin: auto;
            }
            @media only screen and (max-width: 1000px) {
                #imageTiler{
                    width: 100%;
                }
            }
        </style>
    </head>
    <body>
        <h1>Widget Demo</h1>
        <div 
            id='imageTiler' 
            data-rows='6'
            data-columns='18'
            data-sources='{"sources": ["https://sg-template-assets.s3.eu-west-2.amazonaws.com/common-scripts/image-tiler/demo-images/dummy-headshots-1.jpg","https://sg-template-assets.s3.eu-west-2.amazonaws.com/common-scripts/image-tiler/demo-images/dummy-headshots-2.jpg", "https://sg-template-assets.s3.eu-west-2.amazonaws.com/common-scripts/image-tiler/demo-images/dummy-headshots-3.jpg"]}'
        ></div>
        <script src="./<%= htmlWebpackPlugin.options.libraryPath %>"></script>
    </body>
</html>